@{
    Layout = "~/Views/Shared/master.cshtml";
}

<div class="ui segment">

    <h3>Customer</h3>

    <ul id="customers"></ul>

  

    @section scripts{

        
        <script src="../Script/admincustomers.js"></script>
    }

    @section styles{ 
        
    }

</div>