@{
    Layout = "~/Views/Shared/master.cshtml";
}


<div class="ui segment">
    <h3>Welcome to Northwind!</h3>
    <img class="ui small left rounded floated image" src="https://picsum.photos/g/200/500/?random">

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in dolor sagittis, semper ipsum in, tincidunt lorem. Aenean congue convallis arcu, id consectetur leo commodo eu. Pellentesque ultricies eu ipsum sed accumsan. Morbi ornare, purus non accumsan tempor, metus felis porttitor turpis, ut malesuada ex nisi sit amet lacus. Morbi ultricies urna odio, eget molestie tortor tincidunt ut. Aenean volutpat porta nibh in efficitur. Curabitur dignissim euismod orci, eu interdum tortor sollicitudin aliquet. Donec id scelerisque lacus. Praesent tristique lectus vel turpis interdum dapibus.</p>

    <p>
        Aliquam ac augue nec sapien pretium volutpat. Proin id ligula eget est aliquet consequat nec nec tortor. Donec non dolor finibus, tincidunt augue vitae, vehicula justo. Ut condimentum elit in ante consequat placerat. Aliquam aliquet sed ex ac sollicitudin. Praesent placerat lacus volutpat, varius metus sed, porta neque. Ut mollis tempor diam, eget interdum felis ornare ut. Ut accumsan iaculis sapien non maximus. Integer eleifend vitae nisl ornare rhoncus. Cras laoreet vulputate ante. Integer ac dictum ante. Aliquam ante metus, pretium sit amet arcu id, suscipit ornare mi. Morbi eget mauris urna. Pellentesque congue tellus vitae eros varius rhoncus.
    </p>

    <p>
        Vestibulum fermentum felis non ligula aliquet malesuada. Duis eget urna sed nisl sollicitudin mattis ut sit amet est. Curabitur semper ante tortor, nec congue nulla ullamcorper et. Sed et augue eros. Curabitur magna nisi, interdum sit amet congue quis, posuere nec nibh. Pellentesque vel lorem mollis, congue diam ut, molestie odio. Aenean suscipit vel felis hendrerit euismod. Vestibulum feugiat nisl tincidunt, mollis quam non, pulvinar ex. Nunc vel justo at dolor sagittis rhoncus. Nunc a viverra arcu, eu ultricies nisl.
    </p>

    <p>
        Nulla eget nulla a justo facilisis cursus. Praesent eget laoreet elit. Pellentesque nec tortor porta, venenatis nisl eu, pellentesque felis. Praesent ligula arcu, accumsan sed gravida a, feugiat ullamcorper nulla. Cras iaculis, erat ac suscipit placerat, elit felis ultrices diam, id mattis ligula nulla sed justo. Suspendisse non lectus et purus euismod mollis. Morbi aliquam ligula leo, sed vulputate odio hendrerit nec. Suspendisse eget eros volutpat, hendrerit mauris non, sodales mauris. Aenean a velit turpis. Vivamus pulvinar, ipsum sed porta feugiat, metus eros efficitur quam, vitae auctor ex purus a odio. Aliquam fermentum ornare nisl et sollicitudin. Proin non lorem venenatis tellus dapibus consectetur. Morbi ac sapien vehicula, tempor sem ut, egestas magna. Nulla mattis a nisi vitae sodales. Vestibulum eget nunc vitae massa congue scelerisque vel eu elit. Quisque quis scelerisque tortor.
    </p>

    <p>Duis eu iaculis nunc. Vestibulum finibus nunc sed ligula dapibus, a vehicula ante rutrum. Cras eleifend a tellus vel dictum. Nunc laoreet lorem a nulla aliquam, ac luctus nulla egestas. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut tincidunt lacinia tincidunt. Donec a nunc purus. Phasellus vehicula, libero id faucibus volutpat, turpis mi mollis tellus, vitae lobortis dui lorem id quam. Integer a suscipit risus, ut sollicitudin est.</p>
    <img class="ui medium right bordered floated image" src="https://picsum.photos/g/200/?random">
    <p>
        Vestibulum fermentum felis non ligula aliquet malesuada. Duis eget urna sed nisl sollicitudin mattis ut sit amet est. Curabitur semper ante tortor, nec congue nulla ullamcorper et. Sed et augue eros. Curabitur magna nisi, interdum sit amet congue quis, posuere nec nibh. Pellentesque vel lorem mollis, congue diam ut, molestie odio. Aenean suscipit vel felis hendrerit euismod. Vestibulum feugiat nisl tincidunt, mollis quam non, pulvinar ex. Nunc vel justo at dolor sagittis rhoncus. Nunc a viverra arcu, eu ultricies nisl.
    </p>

    <p>
        Nulla eget nulla a justo facilisis cursus. Praesent eget laoreet elit. Pellentesque nec tortor porta, venenatis nisl eu, pellentesque felis. Praesent ligula arcu, accumsan sed gravida a, feugiat ullamcorper nulla. Cras iaculis, erat ac suscipit placerat, elit felis ultrices diam, id mattis ligula nulla sed justo. Suspendisse non lectus et purus euismod mollis. Morbi aliquam ligula leo, sed vulputate odio hendrerit nec. Suspendisse eget eros volutpat, hendrerit mauris non, sodales mauris. Aenean a velit turpis. Vivamus pulvinar, ipsum sed porta feugiat, metus eros efficitur quam, vitae auctor ex purus a odio. Aliquam fermentum ornare nisl et sollicitudin. Proin non lorem venenatis tellus dapibus consectetur. Morbi ac sapien vehicula, tempor sem ut, egestas magna. Nulla mattis a nisi vitae sodales. Vestibulum eget nunc vitae massa congue scelerisque vel eu elit. Quisque quis scelerisque tortor.
    </p>

    <p>Duis eu iaculis nunc. Vestibulum finibus nunc sed ligula dapibus, a vehicula ante rutrum. Cras eleifend a tellus vel dictum. Nunc laoreet lorem a nulla aliquam, ac luctus nulla egestas. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut tincidunt lacinia tincidunt. Donec a nunc purus. Phasellus vehicula, libero id faucibus volutpat, turpis mi mollis tellus, vitae lobortis dui lorem id quam. Integer a suscipit risus, ut sollicitudin est.</p>

    <p>
        Vestibulum fermentum felis non ligula aliquet malesuada. Duis eget urna sed nisl sollicitudin mattis ut sit amet est. Curabitur semper ante tortor, nec congue nulla ullamcorper et. Sed et augue eros. Curabitur magna nisi, interdum sit amet congue quis, posuere nec nibh. Pellentesque vel lorem mollis, congue diam ut, molestie odio. Aenean suscipit vel felis hendrerit euismod. Vestibulum feugiat nisl tincidunt, mollis quam non, pulvinar ex. Nunc vel justo at dolor sagittis rhoncus. Nunc a viverra arcu, eu ultricies nisl.
    </p>

    <p>
        Nulla eget nulla a justo facilisis cursus. Praesent eget laoreet elit. Pellentesque nec tortor porta, venenatis nisl eu, pellentesque felis. Praesent ligula arcu, accumsan sed gravida a, feugiat ullamcorper nulla. Cras iaculis, erat ac suscipit placerat, elit felis ultrices diam, id mattis ligula nulla sed justo. Suspendisse non lectus et purus euismod mollis. Morbi aliquam ligula leo, sed vulputate odio hendrerit nec. Suspendisse eget eros volutpat, hendrerit mauris non, sodales mauris. Aenean a velit turpis. Vivamus pulvinar, ipsum sed porta feugiat, metus eros efficitur quam, vitae auctor ex purus a odio. Aliquam fermentum ornare nisl et sollicitudin. Proin non lorem venenatis tellus dapibus consectetur. Morbi ac sapien vehicula, tempor sem ut, egestas magna. Nulla mattis a nisi vitae sodales. Vestibulum eget nunc vitae massa congue scelerisque vel eu elit. Quisque quis scelerisque tortor.
    </p>
    <p>Duis eu iaculis nunc. Vestibulum finibus nunc sed ligula dapibus, a vehicula ante rutrum. Cras eleifend a tellus vel dictum. Nunc laoreet lorem a nulla aliquam, ac luctus nulla egestas. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut tincidunt lacinia tincidunt. Donec a nunc purus. Phasellus vehicula, libero id faucibus volutpat, turpis mi mollis tellus, vitae lobortis dui lorem id quam. Integer a suscipit risus, ut sollicitudin est.</p>

    <p>
        Vestibulum fermentum felis non ligula aliquet malesuada. Duis eget urna sed nisl sollicitudin mattis ut sit amet est. Curabitur semper ante tortor, nec congue nulla ullamcorper et. Sed et augue eros. Curabitur magna nisi, interdum sit amet congue quis, posuere nec nibh. Pellentesque vel lorem mollis, congue diam ut, molestie odio. Aenean suscipit vel felis hendrerit euismod. Vestibulum feugiat nisl tincidunt, mollis quam non, pulvinar ex. Nunc vel justo at dolor sagittis rhoncus. Nunc a viverra arcu, eu ultricies nisl.
    </p>

    <div class="ui tiny images" style="text-align:center; padding: 20px">
        <img class="ui image" src="https://picsum.photos/g/110/?random">
        <img class="ui image" src="https://picsum.photos/g/120/?random">
        <img class="ui image" src="https://picsum.photos/g/130/?random">
        <img class="ui image" src="https://picsum.photos/g/140/?random">
    </div>

    <p>
        Nulla eget nulla a justo facilisis cursus. Praesent eget laoreet elit. Pellentesque nec tortor porta, venenatis nisl eu, pellentesque felis. Praesent ligula arcu, accumsan sed gravida a, feugiat ullamcorper nulla. Cras iaculis, erat ac suscipit placerat, elit felis ultrices diam, id mattis ligula nulla sed justo. Suspendisse non lectus et purus euismod mollis. Morbi aliquam ligula leo, sed vulputate odio hendrerit nec. Suspendisse eget eros volutpat, hendrerit mauris non, sodales mauris. Aenean a velit turpis. Vivamus pulvinar, ipsum sed porta feugiat, metus eros efficitur quam, vitae auctor ex purus a odio. Aliquam fermentum ornare nisl et sollicitudin. Proin non lorem venenatis tellus dapibus consectetur. Morbi ac sapien vehicula, tempor sem ut, egestas magna. Nulla mattis a nisi vitae sodales. Vestibulum eget nunc vitae massa congue scelerisque vel eu elit. Quisque quis scelerisque tortor.
    </p>

    <p>Duis eu iaculis nunc. Vestibulum finibus nunc sed ligula dapibus, a vehicula ante rutrum. Cras eleifend a tellus vel dictum. Nunc laoreet lorem a nulla aliquam, ac luctus nulla egestas. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut tincidunt lacinia tincidunt. Donec a nunc purus. Phasellus vehicula, libero id faucibus volutpat, turpis mi mollis tellus, vitae lobortis dui lorem id quam. Integer a suscipit risus, ut sollicitudin est.</p>

    <p>
        Vestibulum fermentum felis non ligula aliquet malesuada. Duis eget urna sed nisl sollicitudin mattis ut sit amet est. Curabitur semper ante tortor, nec congue nulla ullamcorper et. Sed et augue eros. Curabitur magna nisi, interdum sit amet congue quis, posuere nec nibh. Pellentesque vel lorem mollis, congue diam ut, molestie odio. Aenean suscipit vel felis hendrerit euismod. Vestibulum feugiat nisl tincidunt, mollis quam non, pulvinar ex. Nunc vel justo at dolor sagittis rhoncus. Nunc a viverra arcu, eu ultricies nisl.
    </p>

    <p>
        Nulla eget nulla a justo facilisis cursus. Praesent eget laoreet elit. Pellentesque nec tortor porta, venenatis nisl eu, pellentesque felis. Praesent ligula arcu, accumsan sed gravida a, feugiat ullamcorper nulla. Cras iaculis, erat ac suscipit placerat, elit felis ultrices diam, id mattis ligula nulla sed justo. Suspendisse non lectus et purus euismod mollis. Morbi aliquam ligula leo, sed vulputate odio hendrerit nec. Suspendisse eget eros volutpat, hendrerit mauris non, sodales mauris. Aenean a velit turpis. Vivamus pulvinar, ipsum sed porta feugiat, metus eros efficitur quam, vitae auctor ex purus a odio. Aliquam fermentum ornare nisl et sollicitudin. Proin non lorem venenatis tellus dapibus consectetur. Morbi ac sapien vehicula, tempor sem ut, egestas magna. Nulla mattis a nisi vitae sodales. Vestibulum eget nunc vitae massa congue scelerisque vel eu elit. Quisque quis scelerisque tortor.
    </p>

    <p>Duis eu iaculis nunc. Vestibulum finibus nunc sed ligula dapibus, a vehicula ante rutrum. Cras eleifend a tellus vel dictum. Nunc laoreet lorem a nulla aliquam, ac luctus nulla egestas. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut tincidunt lacinia tincidunt. Donec a nunc purus. Phasellus vehicula, libero id faucibus volutpat, turpis mi mollis tellus, vitae lobortis dui lorem id quam. Integer a suscipit risus, ut sollicitudin est.</p>

</div>